*.pem
*.pub


projects/azure-aks-db-cluster/**/.terraform/*
projects/azure-aks-db-cluster/*.tfstate
projects/azure-aks-db-cluster/*.tfstate.*
projects/azure-aks-db-cluster/crash.log
projects/azure-aks-db-cluster/crash.*.log
projects/azure-aks-db-cluster/*.tfvars
projects/azure-aks-db-cluster/*.tfvars.json
projects/azure-aks-db-cluster/override.tf
projects/azure-aks-db-cluster/override.tf.json
projects/azure-aks-db-cluster/*_override.tf
projects/azure-aks-db-cluster/*_override.tf.json
projects/azure-aks-db-cluster/.terraform.tfstate.lock.info
projects/azure-aks-db-cluster/.terraformrc
projects/azure-aks-db-cluster/terraform.rc
